
<!DOCTYPE html>
<html>
<head>
  <title>Welcome <%= user %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background: linear-gradient(45deg, #0f2027, #203a43, #2c5364);
    }
  </style>
</head>
<body>
  <div class="container text-center">
    <h1 class="my-5">Welcome <%= user %></h1>
    <a href="/event-selection" class="btn btn-primary">Select Event</a>
  </div>
</body>
</html>
